*
{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
i
{
    cursor: pointer;
}
.item
{
    position: relative;
    cursor: pointer;
}
.item-content
{
    position: absolute;
    width: 80%;
    bottom: 20px;
    left: 10%;
    background-color: white;
    padding: 10px;
}
.slider
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);
}
.slider-img
{
    height: 500px;
    background-image: url(../images/portfolio-1.jpg);
    background-size: 100% 100%;
}
#wClose
{
    position: absolute;
    top: 20px;
    right: 20px;
}
.show
{
    display: flex !important;
}